<div class="libreria-container animate__animated animate__fadeIn">
  <div class="select-input">
    <!-- TODO Mejorar estilo del select -->
    <select name="heroes" (change)="pintaGrafico($event)">
      <option
        (value)="(item)"
        style="font-family: Roboto"
        *ngFor="let item of heroList"
      >
        {{ item }}
      </option>
    </select>
  </div>
  <div class="hero-img">
    <img [src]="heroImgString" [alt]="heroName" />
  </div>
  <div class="canvas-container">
    <canvas
      baseChart
      [data]="radarChartData"
      [options]="radarChartOptions"
      [type]="radarChartType"
    >
    </canvas>
  </div>
</div>
