<form [formGroup]="myForm" (ngSubmit)="save()">
  <!-- Name -->

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Nombre de usuario</mat-label>
      <input matInput type="text" autocomplete="off" formControlName="name" />
    </mat-form-field>
    <mat-error *ngIf="validValue('name')"
      >El nombre debe tener al menos 3 caracteres</mat-error
    >
  </p>

  <!-- Password -->
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Contraseña</mat-label>
      <input
        autocomplete="off"
        matInput
        type="password"
        formControlName="password"
      />
      <mat-error *ngIf="validValue('password')">
        Contraseña muy corta
      </mat-error>
    </mat-form-field>
  </p>

  <!-- Password confirm -->
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Confirmar contraseña</mat-label>
      <input
        autocomplete="off"
        matInput
        type="password"
        formControlName="passwordConfirm"
      />
      <mat-error *ngIf="validValue('passwordConfirm')">
        Las contraseñas deben coincidir
      </mat-error>
    </mat-form-field>
  </p>

  <!-- Email -->
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Correo</mat-label>
      <input
        matInput
        placeholder="correo electronico"
        formControlName="email"
        [readonly]="readonlyController"
      />
      <mat-error *ngIf="validValue('email')">{{ emailErrorMsg }}</mat-error>
    </mat-form-field>
  </p>

  <!-- Subscribed -->
  <mat-checkbox formControlName="subscribed"> Recibir ofertas </mat-checkbox>
  <!-- Country -->
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Pais</mat-label>
      <mat-select formControlName="country">
        <mat-option *ngFor="let item of countries" [value]="item.name.common">{{
          item.name.common
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <!-- City -->
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Ciudad</mat-label>
      <input
        autocomplete="off"
        matInput
        formControlName="city"
        placeholder="ej. Madrid"
      />
      <mat-error *ngIf="validValue('city')"
        >El nombre debe tener al menos 3 caracteres</mat-error
      >
    </mat-form-field>
  </p>
  <button type="submit" mat-raised-button color="primary">Enviar</button>
</form>
<br />
<br />
<br />

<!-- <h5>Form errors</h5>
<pre>{{ myForm.errors | json }}</pre>

<h5>Name</h5>
<pre>{{ myForm.controls["name"].errors | json }}</pre>

<h5>Password</h5>
<pre>{{ myForm.controls["password"].errors | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ myForm.controls["passwordConfirm"].errors | json }}</pre>

<h5>Email</h5>
<pre>{{ myForm.controls["email"].errors | json }}</pre>

<div class="row">
  <span style="color: red">Valid</span>
  <pre style="color: red"> {{ myForm.valid }}</pre>

  <span style="color: red">Pristine</span>
  <pre style="color: red"> {{ myForm.pristine }}</pre>

  <span style="color: red">Touched</span>
  <pre style="color: red"> {{ myForm.touched }}</pre>

  <span style="color: red">Value</span>
  <pre style="color: red"> {{ myForm.value | json }}</pre>
</div> -->
